server {
    listen $PORT;
    server_name 0.0.0.0;

    location / {
        root /usr/src/app/build;
    }

    location /api/ {
        proxy_pass $RELATIONAL_DB_DESIGNER_BACKEND_URL;
    }

    location /socket.io/ {
        proxy_pass $RELATIONAL_DB_DESIGNER_BACKEND_URL;
    }

}