@font-face {
  font-family: Ubuntu-Regular;
  src: url('./fonts/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('./fonts/Ubuntu-Bold.ttf'); 
}

.limiter * {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

.limiter body, html {
	height: 100%;
	font-family: Ubuntu-Regular, sans-serif;
}

.limiter p {
	font-family: Ubuntu-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

.limiter input {
	outline: none;
	border: none;
}

.limiter label {
  display: block;
  margin: 0;
}

.limiter button:hover {
	cursor: pointer;
}

.p-btn {
  font-family: Ubuntu-Regular;
  font-size: 16px;
  color: #827ffe;
  line-height: 1.4;
	padding: 10px 0;
}

.p-btn:hover {
	cursor: pointer;
	color: #403866;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-auth {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
	padding-bottom: 100px;
}

.wrap-auth {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.auth-form {
  width: 100%;
}

.auth-form-title {
  font-family: Ubuntu-Bold;
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
	margin-bottom: 30px;
  width: 100%;
  display: block;
}

.wrap-input {
  width: 100%;
  position: relative;
  background-color: #e6e6e6;
  border: 1px solid transparent;
  border-radius: 3px;
}

.input {
  font-family: Ubuntu-Bold;
  color: #403866;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  height: 62px;
  padding: 0 20px 0 38px;
}

.input:focus {
	border: 2px solid #827ffe;
}

.container-auth-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.auth-form-btn {
  font-family: Ubuntu-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 62px;
  background-color: #827ffe;
  border-radius: 3px;
}

.auth-form-btn:hover {
  background-color: #403866;
}