.toolbar-left {
  position: fixed;
  top: 0;
  width: 11vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: antiquewhite;
  text-align: left;
  z-index: 1;
  overflow: scroll;
  padding: 10px 5px;
}

.toolbar-left * {
  background: antiquewhite;
}

.toolbar-left .group {
  padding: 0px 0px 15px 0px;
}

.toolbar-left .group-header {
  padding: 0px 0px 5px 0px;
}
.toolbar-left .group-content {
  padding: 0;
}
.toolbar-left .group-content * {
  overflow: hidden;
}

.toolbar-left .group * {
  text-overflow: ellipsis;
}

.toolbar-left .section {
  height: 40px;
  margin: 5px 0px 0px 0px; 
  border: 1px solid navy;
  border-radius: 3px;
  width: 100%;
}

.toolbar-left .section:hover {
  border: 1px solid orange;
}

.click-action {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.drag-to-create {
  display: flex;
  cursor: move !important;
}

.drag-to-create * {
  padding: 0px 5px 0px 0px;
}

.toolbar-left input {
  text-align: center;
}

.toolbar-left input:hover, input:focus {
  background-color: white;
  cursor: text;
  outline: none !important;
  border: 1px solid orange !important;
}
