.attribute-end {
    width: 15px;
    height: 15px;
    background-color:white;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: center;
}

.attribute-end-center {
    position: absolute;
    top: 50%;
}

.attribute-text { 
    display: inline-block;
    position: absolute;
}