.dummy-entity {
  position: absolute;
  width: 100px;
  height: 40px;
  border: 1px solid black;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

.dummy-relationship {
  position: absolute;
  width: 100px;
  height: 40px;
  border: 1px solid black;
  background-color: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

.edge-label {
  transform: translate(45%, -30%) !important;
  padding: 10px;
}

.form {
  margin:10px;
}