.entity {
	position: absolute;
	width: 150px;
	height: 75px;
	border: 1px solid black;
	background-color: yellow;
	z-index: 15;
}

.entity-input {
	display: flex;
	justify-content: center;
	margin-top: 35px;
	width: 100%;
	align-items: center;
}

.entity-input input {
	width: 80%;
	margin-top: 5px;
}
