.attributes-checkbox * {
  font-weight: normal;
}

.attributes-checkbox input:disabled {
  cursor: not-allowed;
}

.toolbar-section-item {
  padding: 8px 0px;
}

.cardinality-selector {
  padding: 5px;
  margin: 5px 0px;
}
