.node-wrapper {
  position: absolute;
  /* Important Below */
  display: flex;
  justify-content: center;
  align-items: center;

  --generalisation-norm: lightblue;
  --generalisation-darken: rgb(111, 163, 179);
  --entity-norm: lightblue;
  --entity-darken: rgb(111, 163, 179);
  --weak-entity-norm: lightblue;
  --weak-entity-darken: rgb(111, 163, 179);
  --relationship-norm: beige;
  --relationship-darken: rgb(216, 216, 194);
}

.ctx-menu {
	border-radius: 2px;
  box-shadow: 0 0 20px 0 #ccc;
  background-color: white;
  height: auto;
  width: 150px;
  position: absolute;
  margin: 0;
  padding: 5px 0 5px 0;
  font-size: 14px;
  list-style: none;
}

.ctx-menu-item {
  padding: 5px;
  cursor: pointer;
}
