.entity {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #222;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    width: 150px;
}

.node {
  background-color: none;
}

.handle {
  background-color: transparent;
}
