.editor {
	display: flex;
}

.canvas {
	left: 10vw;
	width: 70vw;
	height: 100vh;
	position: absolute;

	/* Grid background */
	background: radial-gradient(
		circle at 1px 1px,
		black 1px,
		transparent 0
	);
	--size: calc(100% / 25);
	--offset: calc(var(--size) / 2);
	background-size: 30px 30px;
}

