.toolbar {
	display: flex;
	flex-direction: column;
  width: 15vw;
  height: 100vh;
  background-color: antiquewhite;
	justify-content: space-between;
  z-index: 6;
}

.react-draggable {
  margin: 0px;
}

.create-tool {
  cursor: move;
  display: flex;
  height: 50px;
  padding: 10px;
  margin: 0;
  background: antiquewhite;
  border: 1px solid navy;
  border-radius: 3px;
  box-shadow: 1px 1px;
}

.tool {
	height: 35px;
  margin: 2px 0;
  padding: 10px;
  border: 1px solid navy;
	border-radius: 3px;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	border: 1px solid orange;
}

span.grippy {
  width: 20px;
  height: 20px;
  overflow: hidden;
  line-height: 5px;
  cursor: move;
  vertical-align: middle;
  margin-top: -.1em;
  margin-right: .3em;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #282525;
}

span.grippy::after {
  content: '.. .. ..';
}


.footer {
  padding: 0;
  margin: 0;
}

.filler{
  width: 100%;
  height: 10vh;

}

