/* input[type=text] {
  width: 70%;
  padding: 5px 10px 2px 10px;
  margin: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid;
}

input[type=text]:focus {
  width: 70%;
  padding: 5px 5px 2px 5px;
  margin: 0;
  background-color: white;
  border: 0;
  border-bottom: 1px solid;
  outline: none;
} */

label {
  font-weight: bold;
}

.editable {
  font-family: sans-serif;
  margin-left: 10%;
  width: 75%;
  min-height: 100px;
  border: 1px dashed #aaa;
  padding: 5px;
  resize: none;
}

.editable:focus {
  border:0;
  outline:none;
}

